<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clan</title>
    <link rel="stylesheet" href="player.css">
    <link rel="stylesheet" href="clan.css">
    <style>
        .container-header{
            width: 100%;
            height: 380px;
            background: linear-gradient(to right, rgba(7, 7, 7, 1) 30%, rgba(7, 7, 7, 0.5) 90%), rgb(<%= color.red %>, <%= color.green %>, <%= color.blue %> ) no-repeat 70px 0%;
            background-size: contain;
            background-position: center;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
    </style>
</head>
<body>
    <div class="container-header">
        <div class="header">
            <div class="stats">
                <div class="clanData">
                    <div>
                        <img src="https://cdn.statsroyale.com/images/badges/<%= clan.datosClan.badgeId %>.png" alt="">
                    </div>
                    <div>
                        <div class="location">
                            <h2><%= clan.datosClan.name %></h2>
                            <img src="https://cdn.statsroyale.com/images/flags/<%= clan.datosClan.location.id %>.png" alt="">
                        </div>
                        <p><%= clan.datosClan.description %></p>
                    </div>
                </div>
            </div>
            <div class="midStats"> <!-- Posible nombre en espera -->
                <div class="midStats_container"> <!-- contenedor -->
                    <div class="metrics"> <!-- Contenedor de trofeos / trofeos requeridos -->
                        <div class="card"> <!--  Contenedor de trofeos -->
                            <img src="https://cdn.statsroyale.com/images/trophy.png" alt="">
                            <div class="response">
                                <p><%= clan.datosClan.clanScore %></p>
                                <p>Trofeos</p>
                            </div>
                        </div>
                        <div class="card"> <!--  Contenedor de trofeos requeridos -->
                            <img src="https://cdn.statsroyale.com/images/trophy.png" alt="">
                            <div class="response">
                                <p><%= clan.datosClan.requiredTrophies %></p>
                                <p>Trofeos requeridos</p>
                            </div>
                        </div>
                    </div>
                    <div class="metrics"> <!-- Contenedor de donaciones y Clan War -->
                        <div class="card"> <!-- Contenedor de donaciones -->
                            <img src="https://cdn.statsroyale.com/images/cards.png" alt="">
                            <div class="response">
                                <p><%= clan.datosClan.donationsPerWeek %></p>
                                <p>Donaciones/Semana</p>
                            </div>
                        </div>
                        <div class="card"> <!-- Contenedor de Clan War -->
                            <img src="https://cdn.statsroyale.com/images/clan-trophies.png" alt="">
                            <div class="response">
                                <p><%= clan.datosClan.clanWarTrophies %></p>
                                <p>Clan War Trophies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div>
            <h2>Miembros</h2>
        </div>
        <div class="containerMain">
            <p>Puesto</p>
            <p>Nombre</p>
            <p>Nivel</p>
            <p>Trofeos</p>
            <p>Donaciones</p>
            <p>Rol</p>
            <p>Last Seen</p>
            <% for(let i in clan.datosClan.memberList){ %>
                <p> #<%= clan.datosClan.memberList[i].clanRank %> </p>
                <a href="<%= hostUser %><%= clan.datosClan.memberList[i].tag.slice(1) %>">
                    <p> <%= clan.datosClan.memberList[i].name %> </p>
                </a>
                <div>
                    <img src="https://cdn.statsroyale.com/images/level-big.png" alt="">
                    <p> <%= clan.datosClan.memberList[i].expLevel %> </p>
                </div>
                <div>
                    <img src="https://cdn.statsroyale.com/images/trophy.png" alt="">
                    <p> <%= clan.datosClan.memberList[i].trophies %> </p>
                </div>
                <div>
                    <img src="https://cdn.statsroyale.com/images/tournament-cards.png" alt="">
                    <p> <%= clan.datosClan.memberList[i].donations %> </p>
                </div>
                <% switch (clan.datosClan.memberList[i].role) {
                    case 'coLeader': %>
                        <p>Colíder</p> 
                    <% break; %>
                  
                    <% case 'leader': %>
                        <p>Líder</p> 
                    <% break; %>
                      
                    <% case 'elder': %>
                        <p>Veterano</p> 
                    <% break; %>
                    
                    <% case 'member': %>
                        <p>Miembro</p> 
                    <% break; %>
                <% } %>
        
                <div>
                    <img src="https://cdn.statsroyale.com/images/clock.png" alt="">
                    <p><%= times[i] %></p>
                </div>
            <%} %>
        </div>


        <div class="mainContainer">
            <div class="position">
                <p class="titleName">Puesto</p>
                <% for(let i in clan.datosClan.memberList){ %>
                    <div>
                        <p> #<%= clan.datosClan.memberList[i].clanRank %> </p>
                    </div>
                <%} %>
            </div>
            <div class="name">
                <p class="titleName">Nombre</p>
                <% for(let i in clan.datosClan.memberList){ %>
                    <div>
                        <a href="<%= hostUser %><%= clan.datosClan.memberList[i].tag.slice(1) %>">
                            <p> <%= clan.datosClan.memberList[i].name %> </p>
                        </a>
                    </div>
                <%} %>
            </div>
            <div class="level">
                <p class="titleName">Nivel</p>
                <% for(let i in clan.datosClan.memberList){ %>
                    <div>
                        <img src="https://cdn.statsroyale.com/images/level-big.png" alt="" class="w30">
                        <p> <%= clan.datosClan.memberList[i].expLevel %> </p>
                    </div>
                <%} %>
            </div>
            <div class="trophies">
                <p class="titleName">Trofeos</p>
                <% for(let i in clan.datosClan.memberList){ %>
                    <div>
                        <img src="https://cdn.statsroyale.com/images/trophy.png" alt="">
                        <p> <%= clan.datosClan.memberList[i].trophies %> </p>
                    </div>
                <%} %>
            </div>
            <div class="donations">
                <p class="titleName">Donaciones</p>
                <% for(let i in clan.datosClan.memberList){ %>
                    <div>
                        <img src="https://cdn.statsroyale.com/images/tournament-cards.png" alt="">
                        <p> <%= clan.datosClan.memberList[i].donations %> </p>
                    </div>
                <%} %>
            </div>
            <div class="role">
                <p class="titleName">Rol</p>
                <% for(let i in clan.datosClan.memberList){ %>
                    <div>
                        <p> <%= clan.datosClan.memberList[i].role %> </p>
                    </div>
                <%} %>
            </div>
            <div class="lastSeen">
                <p class="titleName">Last Seen</p>
                <% for(let i in clan.datosClan.memberList){ %>
                    <div>
                        <img src="https://cdn.statsroyale.com/images/clock.png" alt="">
                        <p> <%= clan.datosClan.memberList[i].lastSeen %> </p>
                    </div>
                <%} %>
            </div>
        </div>
    </div>
</body>
</html>