<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= player.name %></title>
    <link rel="shortcut icon" type="image/png" href="<%= player.currentFavouriteCard.iconUrls.medium.replace(/['"]/g, '');%>">
    <link rel="stylesheet" href="player.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500&display=swap" rel="stylesheet">
    <style>
        .container-header{
            width: 100%;
            height: 380px;
            background: linear-gradient(to right, rgba(7, 7, 7, 1) 10%, rgba(7, 7, 7, 0.5) 90%), linear-gradient(to bottom, rgba(7, 7, 7, 0) 80%, rgba(7, 7, 7, 1) 100%), url('<%= url.imgBanner %>') no-repeat 70px 0%;
            background-size: cover;
            background-position: center top;
        }
        .progressBar{
            width: <%= exp.dataExp.width %>;
            background-color: #2bb0cf;
            position: fixed;
        }
    </style>
</head>
<body>
    <div class="container-header">
        <div class="progressBar">
            <div>
                <p><%= player.expPoints %>/<%= exp.dataExp.max %></p>
            </div>
        </div>
        <div class="header">
            <div class="stats">
                <div class="name">
                    <h2><%= player.name %></h2>
                    <div class="exp flexGap">
                        <img src="https://cdn.statsroyale.com/images/level-big.png" alt="" class="w30">
                        <p class="p"> <%= player.expLevel %> </p>
                    </div>
                </div>
                
                <div class="lastTime">
                    <img src="https://cdn.statsroyale.com/images/clock.png" alt="" class="w30">
                    <p>Última conexión: <%= lastTime[0] %></p>
                </div>
    
                <p class="titleP">Trofeos</p>
    
                <div class="trophies">
                    <div class="trophiesToday flexGap">
                        <img src="https://cdn.statsroyale.com/images/trophy.png" alt="" class="w30">
                        <p class="p"> <%= player.trophies %> </p>
                    </div>
                    <div class="bestTrophies flexGap"> 
                        <img src="https://www.nicepng.com/png/full/30-306641_clash-royale-trophy-imagenes-de-clash-royale-hd.png" alt="" class="w30">
                        <p class="p"> <%= player.bestTrophies %> </p>
                    </div>
                </div>
    
                <p class="titleP">Estadísticas</p>
    
                <div class="winsLosses">
                    <div class="wins flexGap">
                        <img src="../img/win.png" alt="" class="w30">
                        <p class="p"> <%= player.wins %> </p>
                    </div>
                    <div class="losses flexGap">
                        <img src="../img/loss.png" alt="" class="w30">
                        <p class="p"> <%= player.losses %> </p>
                    </div>
                </div>
                <div class="gameData">
                    <div class="battleCount flexGap">
                        <img src="https://cdn.statsroyale.com/images/battle.png" alt="" class="w30">
                        <p class="p"> <%= player.battleCount %> </p>
                    </div>
                    <div class="threeCrownWins flexGap">
                        <img src="../img/tres_coronas.png" alt="" class="w30">
                        <p class="p"> <%= player.threeCrownWins %> </p>
                    </div>
                </div>
            </div>
            <div class="midStats"> <!-- Posible nombre en espera -->
                <div class="clan">
                    <div class="clanContainer">
                        <div class="clanImg">
                            <% if(player.clan === undefined){ %>
                                <img src='https://cdn.statsroyale.com/images/badges/0.png' alt=""> 
                            <% } else{ %>
                                <a href="<%= hostClan %><%= player.clan.tag.slice(1) %>">
                                    <img src='https://cdn.statsroyale.com/images/badges/<%= player.clan.badgeId %>.png' alt=""> 
                                </a> 
                            <% } %>
            
                        </div>
                        <div class="clanName">
                            <% if(player.clan === undefined){ %>
                                <p class="p">Sin clan</p>
                            <% } else{ %>
                                <p class="p"><%= player.clan.name %></p>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="arena">
                    <div class="arenaImg">
                        <img src="<%= url.imgArena %>" alt="">
                    </div>
                    <p class="p"><%= player.arena.name %></p>
                </div>
            </div>
        </div>
    </div>

    <div class="main"> <!-- Es el mismo código, pero ahora cambia dependiendo el tamaño en pantalla, cambia de stats a main -->
        <div class="mainStats"> <!-- Posible nombre en espera -->
            <div class="clan">
                <div class="clanContainer">
                    <div class="clanImg">
                        <% if(player.clan === undefined){ %>
                            <img src='https://cdn.statsroyale.com/images/badges/0.png' alt=""> 
                        <% } else{ %>
                            <a href="<%= hostClan %><%= player.clan.tag.slice(1) %>">
                                <img src='https://cdn.statsroyale.com/images/badges/<%= player.clan.badgeId %>.png' alt=""> 
                            </a> 
                        <% } %>
        
                    </div>
                    <div class="clanName">
                        <% if(player.clan === undefined){ %>
                            <p class="p">Sin clan</p>
                        <% } else{ %>
                            <p class="p"><%= player.clan.name %></p>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="arena">
                <div class="arenaImg">
                    <img src="<%= url.imgArena %>" alt="">
                </div>
                <p class="p"><%= player.arena.name %></p>
            </div>
        </div>
        <div class="currentDeck">
            <div class="currentDeckTitle">
                <p class="p">Current deck</p>
                <p>Carta favorita actual — <%= player.currentFavouriteCard.name %></p>
            </div>
            <div class="currentDeckImg">
                <% for(let i = 0; i < 8; i++) { %>
                    <img src="<%= url.imgCards[i] %>" alt="">
                <% } %>  
            </div>
        </div>
        <div class="upcomingchests">
            <div class="upcomingchestsTitle">
                <p class="p">Próximos Cofres</p>
            </div>
            <div class="upcomingchestsImg">
                <% let count = 1; %>
                <% for(let item of cofresPorVenir.upcomingChests.items) { %>
                    <div class="chestsItem">
                        <% if(item.index === 0){ %>
                            <div>
                                <img src="<%= cofresPorVenir.chestUrlSorted[0] %>" alt="" class="firstImg">
                                <p class="p">Sig.</p>
                            </div>
                        <% } else{ %>
                            <div>
                                <img src="<%= cofresPorVenir.chestUrlSorted[count] %>" alt="">
                                <p class="p">+<%= item.index %></p>
                            </div>
                            <% count++ %>
                        <% } %>
                    </div>
                <% } %>  
            </div>
        </div>
    </div>
</body>
</html>